html, body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f0fbff;
}

body {
    padding: 1rem 1rem 10rem;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    padding: 0;
}

img{
    max-width: 100%;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    background-color: transparent;
    border: none;

    &:focus-visible {
        outline: #0f0 solid 2px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #120325;
        color: #fff;
    }

    a {
        color: #fff;
    }
}