.container {
    margin-bottom: 1.5rem;
    max-width: 784px;

    --cover-image-width: 220px;
}
.albumCoverOverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    color: #dedede;
    opacity: 0.7;
    mix-blend-mode: screen;
}
.imageContainer {
    position: relative;
    margin-left: 1rem;

    &:hover {
        .albumCoverOverlay {
            display: block;
        }
    }
}
.table {
    padding: 0 1rem;
    width: 100%;

    td {
        height: 1em;
    }
}
.secondaryInfo {
    opacity: 0.5;
    padding-left: 2.5rem;
    text-align: right;
}
.coverImage {
    display: inline-block;
    width: var(--cover-image-width);
    height: var(--cover-image-width);
}
.description {
    list-style-type: none;
    font-family: monospace;
    font-size: 0.8rem;
    padding: 0 0 1em;
    margin: 0;

    li {
        min-height: 1em; /* for empty rows for spacing purposes */
    }
}

.icon {
    color: #000;
    opacity: 0.35;
    cursor: pointer;
}
.shareLink {
    display: block;
    width: 100%;
    text-align: right;
    padding: 0.5em 0 0;

    &:hover {
        .icon {
            opacity: 1;
        }
    }

    svg {
        width: 22px;
    }
}

@media (prefers-color-scheme: dark) {
    .icon {
        color: #fff;
    }
}

@media screen and (min-width: 650px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .infoContainer {
        flex-basis: calc(100% - var(--cover-image-width) - 1rem);
    }

    .description {
        position: relative;
        top: -30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 649px) {
    .mobileHide {
        display: none;
    }
}